@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --blue-500: #256bfd;
  --primary-cyan-200: #abf4ed;
  --primary-cyan-300: #00ead6;
  --primary-cyan-400: #15e0cc;
  --primary-cyan-500: #13bcab;
  --gray-200: #eeeeee;
  --gray-250: #dddddd;
  --gray-300: #ddd;
  --gray-400-alt2: #b3b3b3;
  --gray-400: #aeacac;
  --gray-400-alt: #909090;
  --gray-500: #888;
  --gray-600: #525252;
  --gray-700-alt: #3a3a3a;
  --gray-700: #444444;
  --gray-800: #080808;
  --red-500: #f72e2e;
  --primary-slate-800: #222632;
  --primary-cyan-600: #11baaa;
  --primary-cyan-700: #039183;
  --custom-coral: #93f1e8;
  --coral-red: #ff7d78;
  --coral-red-200: #ffe0e0;
  --teal-light: #93f1e8;
  --border-gray: #dad9d9;
  --secondary: #c6c6c6;
  --amber-500: #fcb62b;
  --emerald-500: #00da49;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
  --color-blue-500: var(--blue-500);
  --color-cyan-200: var(--primary-cyan-200);
  --color-cyan-300: var(--primary-cyan-300);
  --color-cyan-400: var(--primary-cyan-400);
  --color-cyan-500: var(--primary-cyan-500);
  --color-gray-200: var(--gray-200);
  --color-gray-250: var(--gray-250);
  --color-gray-300: var(--gray-300);
  --color-gray-400-alt2: var(--gray-400-alt2);
  --color-gray-400: var(--gray-400);
  --color-gray-400-alt: var(--gray-400-alt);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-600);
  --color-gray-700-alt: var(--gray-700-alt);
  --color-gray-700: var(--gray-700);
  --color-gray-800: var(--gray-800);
  --color-red-500: var(--red-500);
  --color-slate-800: var(--primary-slate-800);
  --color-cyan-600: var(--primary-cyan-600);
  --color-cyan-700: var(--primary-cyan-700);
  --color-coral-red: var(--coral-red);
  --color-coral-red-200: var(--coral-red-200);
  --color-teal-light: var(--teal-light);
  --color-border-gray: var(--border-gray);
  --color-secondary: var(--secondary);
  --color-amber-500: var(--amber-500);
  --color-emerald-500: var(--emerald-500);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

input[type="radio"]:checked ~ label {
  #dot {
    border: 2px solid var(--primary-cyan-400);

    #innerDot {
      display: block;
    }
  }
}

#dot {
  width: 18px;
  height: 18px;
  background: transparent;
  border-radius: 100%;
  border: 2px solid rgb(8 8 8 / 0.48);
  display: flex;
  align-items: center;
  justify-content: center;
  #innerDot {
    display: none;
    width: 10px;
    height: 10px;
    background: transparent;
    border-radius: 100%;
    background-color: var(--primary-cyan-400);
  }
}

/* #qr-shaded-region {
  border: 100px 10px solid red !important;
  border-radius: 100px !important;
  div {
    display: none;
  }
} */
